<div>
<H1>Login</H1>
<form id="loginForm">
    <label>Email</label>
    <input name="email">
    <br>
    <label>Password</label>
    <input name="password" type="password">
    <br>
    <input type="submit" value="Enter">
</form>
<br>
<p>No te has registrado aún?? <a href="/register">Click aqui para registrarte</a></p>
<p>Olvidaste tu contraseña?? <a href="/resetPassword">Recuperar contraseña</a></p>
</div>

<script src="/js/login.js"></script>

