<div>
<H1>Recuperar contraseña</H1>
<form id="passwordForm">
    <label>Ingresa tu email</label>
    <input name="email">
    <br>
    <label>Escribe tu nueva contraseña</label>
    <input name="password" type="password">
    <br>
    <input type="submit" value="Confirmar">
</form>
</div>
<script src="/js/resetPassword.js"></script>